<div *ngIf="!usuario" class="container align-content-center">
  <form [formGroup]="emailForm" class="row justify-content-center m-3">
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-6">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required />
      <mat-hint class="text-white fw-bold"
        >Busca un usuario por su email</mat-hint
      >
    </mat-form-field>
    <button
      mat-fab
      color="basic"
      [disabled]="emailForm.invalid"
      (click)="buscarUsuario()"
    >
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>

<div *ngIf="usuario" class="container align-content-center">
  <form
    [formGroup]="userForm"
    class="row justify-content-center align-content-center flex-column m-3"
  >
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>Perfil</mat-label>
      <input
        matInput
        formControlName="idPerfil"
        placeholder="Perfil"
        type="number"
        min="1"
        max="4"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="contrasenya"
        placeholder="Contraseña"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>DNI/NIE</mat-label>
      <input matInput formControlName="dni" placeholder="DNI/NIE" />
      <mat-hint class="dni-hint fw-bold">Obligatorio para dar de alta</mat-hint>
    </mat-form-field>
    <div
      class="col-sm-12 col-md-10 col-lg-4 d-flex justify-content-center gap-1 mt-2"
    >
      <button
        mat-flat-button
        color="basic"
        [disabled]="userForm.invalid"
        (click)="guardarCambios()"
        class="w-100"
      >
        Editar
      </button>
      <button
        *ngIf="!usuario.baja"
        mat-flat-button
        color="warn"
        [disabled]="userForm.invalid"
        (click)="bajaUsuario()"
        class="w-100"
      >
        Dar de baja
      </button>
      <button
        *ngIf="usuario.baja && usuario.idPerfil == 4"
        mat-flat-button
        color="primary"
        [disabled]="userForm.invalid"
        (click)="altaUsuario()"
        class="w-100"
      >
        Alta de usuario
      </button>
      <button
        *ngIf="usuario.baja && usuario.idPerfil != 4"
        mat-flat-button
        color="primary"
        [disabled]="userForm.invalid"
        (click)="altaTrabajador()"
        class="w-100"
      >
        Alta de trabajador
      </button>
    </div>
  </form>
</div>
