<div class="row justify-content-center align-content-center content-display">
  <form
    *ngIf="(!isLoggedIn && !checked) || currentRol !== 'CLIENTE'"
    [formGroup]="myReservasCheckForm"
    class="row justify-content-center flex-wrap mt-3"
  >
    <!-- Preguntar si tiene cuenta -->
    <div *ngIf="askForAccount" class="col-4 text-center reservas-bg p-3 dialog">
      <p class="fs-1 text-white">¿Tienes una cuenta?</p>
      <button
        mat-fab
        aria-label="Yes icon"
        class="mx-2 bg-success"
        (click)="tieneCuenta(true)"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button
        mat-fab
        aria-label="Yes icon"
        color="warn"
        class="mx-2"
        (click)="tieneCuenta(false)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- RECEPCION -->
    <!-- Formulario para usuarios que tienen cuenta -->
    <div *ngIf="hasAccountForm && !checked" class="row col-6 mt-3">
      <mat-form-field class="col-10 min-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required formControlName="email" />
      </mat-form-field>
      <button
        mat-fab
        color="accent"
        (click)="usuarioConCuenta()"
        [disabled]="!myReservasCheckForm.valid"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>

    <!-- Formulario para usuarios que no tienen cuenta -->
    <div
      *ngIf="!hasAccountForm && !askForAccount && !checked"
      class="row col-6 mt-3"
    >
      <mat-form-field class="col-10 min-width">
        <mat-label>DNI/NIE</mat-label>
        <input matInput required formControlName="DNI" />
      </mat-form-field>
      <button
        mat-fab
        color="accent"
        (click)="usuarioSinCuenta()"
        [disabled]="!myReservasCheckForm.valid"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>

  <div *ngIf="checked" class="col-lg-8 col-sm-12">
    <div class="row p-4 flex-wrap reservas-bg my-5">
      <div *ngIf="reservas.length !== 0; else sinReservas">
        <div *ngFor="let reserva of reservas" class="col-12">
          <dashboard-reserva-card-component
            [reserva]="reserva"
            (cancelar)="cancelarReserva($event)"
          ></dashboard-reserva-card-component>
        </div>
      </div>
    </div>
  </div>

  <ng-template #sinReservas>
    <mat-card class="col-12 bg-transparent">
      <mat-card-content>
        <p class="fs-3"><strong>No existen reservas a su nombre</strong></p>
      </mat-card-content>
      <mat-card-actions class="d-flex justify-content-center">
        <button mat-flat-button color="accent" routerLink="/dashboard">
          Volver al inicio
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>
