<div class="container align-content-center">
  <form
    [formGroup]="createClientForm"
    class="row justify-content-center align-content-center flex-column m-3"
  >
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>DNI/NIE</mat-label>
      <input matInput required formControlName="dni" placeholder="DNI/NIE" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>Nombre</mat-label>
      <input matInput required formControlName="nombre" placeholder="Nombre" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>Apellidos</mat-label>
      <input
        matInput
        required
        formControlName="apellidos"
        placeholder="Apellidos"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-sm-12 col-md-10 col-lg-4">
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        type="telefono"
        required
        formControlName="telefono"
        placeholder="Teléfono"
      />
    </mat-form-field>
    <div
      class="col-sm-12 col-md-10 col-lg-4 d-flex justify-content-center gap-1"
    >
      <button
        mat-flat-button
        color="basic"
        [disabled]="createClientForm.invalid"
        (click)="crearCliente()"
        class="w-100"
      >
        Crear
      </button>
    </div>
  </form>
</div>
