<mat-card *ngIf="reserva; else sinReservas" class="mb-3">
  <mat-card-header
    [ngClass]="{
      'mat-card-header-cancelled': reserva.cancelada,
      'mat-card-header-active': !reserva.cancelada
    }"
  >
    <mat-card-title>Nº Reserva: {{ reserva.id }}</mat-card-title>
    <mat-card-subtitle
      >{{ reserva.nombreCliente }}
      {{ reserva.apellidosCliente }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>Fechas:</strong>
      {{ reserva.fechaInicio | dateAdjust | date : "mediumDate" }} -
      {{ reserva.fechaFin | dateAdjust | date : "mediumDate" }}
    </p>
    <p><strong>Cancelada:</strong> {{ reserva.cancelada ? "Sí" : "No" }}</p>
    <p><strong>Coste Total:</strong> {{ reserva.costeTotal | currency }}</p>
    <div
      *ngFor="
        let habitacion of reserva.reservaHabitacionServicios;
        let i = index
      "
    >
      <hr />
      <h5>
        Habitación <strong>{{ habitacion.idHabitacion }}</strong>
      </h5>
      <p><strong>Tipo Habitación:</strong> {{ habitacion.tipoHabitacion }}</p>
      <p><strong>Servicio:</strong> {{ habitacion.nombreServicio }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions
    *ngIf="!reserva.cancelada"
    class="justify-content-center gap-1"
  >
    <button
      mat-flat-button
      color="primary"
      class="w-100"
      (click)="openEditarReservaModal()"
    >
      Editar Fechas
    </button>
    <button
      mat-flat-button
      color="warn"
      class="w-100"
      (click)="onCancelarReserva()"
    >
      Eliminar
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #sinReservas>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <p><strong>No existen reservas a su nombre</strong></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Editar</button>
      <button mat-button>Eliminar</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
