<footer
  class="text-center text-white container-fluid px-0 pt-4"
  style="background-color: #343a40"
>
  <p class="d-flex justify-content-center align-items-center gap-2">
    <ng-container *ngIf="!isAuthenticated(); else loggedIn">
      <button mat-fab extended aria-label="Key icon" routerLink="/auth">
        <mat-icon>login</mat-icon><span class="button-text">Login</span>
      </button>

      <button
        mat-fab
        extended
        aria-label="Key icon"
        routerLink="/auth/register"
        color="basic"
      >
        <mat-icon>person</mat-icon><span class="button-text">Register</span>
      </button>
    </ng-container>

    <ng-template #loggedIn>
      <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
        <li class="nav-item">
          <button mat-fab extended aria-label="Key icon" (click)="logout()" class="button">
            <mat-icon>logout</mat-icon><span class="button-text">Logout</span>
          </button>
        </li>
      </ul>
    </ng-template>
  </p>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © {{ year }} Copyright:
    <a class="text-white" href="">AdminPortal.com</a>
  </div>
</footer>
