.dashboard-layout {
  background-image: url(../../../../assets/images/bg-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  backdrop-filter: blur(1px) saturate(120%) contrast(80%);
}
