<div class="container mt-5 mb-5 reservas-bg">
  <div class="row mb-5 align-items-stretch">
    <div class="col-md-6 fade-in d-flex justify-content-between">
      <div class="highlight-bg flex-grow-1">
        <h2>¿Por qué Elegirnos?</h2>
        <p class="fs-5 descripcion">
          Bienvenido a nuestro hotel, donde el lujo se encuentra con la
          comodidad. Establecido en 1990, nuestro hotel ha estado brindando
          servicios de primera calidad a nuestros huéspedes durante más de 30
          años. Estamos ubicados lejos de la ciudad, asegurando una desconexión
          completa. Nuestro personal dedicado asegura que tu estancia sea cómoda
          y memorable. Eligenos para una experiencia inolvidable.
        </p>
      </div>
    </div>
    <div class="col-md-6 slide-in">
      <img
        src="../../../../assets/images/hotel.jpg"
        class="img-fluid"
        alt="Imagen del Hotel"
      />
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <h2>Contacto</h2>
    </div>
    <div class="col-md-4 slide-in">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Dirección</h5>
          <p class="card-text">123 Calle Principal, Ciudad, País</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 slide-in">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Correo Electrónico</h5>
          <p class="card-text">contacto&#64;nombrehotel.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 slide-in">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Teléfono</h5>
          <p class="card-text">+123 456 7890</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <h2>Nuestra Ubicación</h2>
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.9716135184376!2d-2.5218301047289007!3d37.081982964377545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7008fa182abfe7%3A0x6ff223d19c4965f2!2sDesierto%20de%20Tabernas!5e0!3m2!1ses!2sus!4v1717424810245!5m2!1ses!2sus"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
