<mat-toolbar color="primary" class="custom-toolbar">
  <span class="text-white toolbar-title">Gestión de Usuarios</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="crear" routerLinkActive="active" class="nav-link">
      Crear
    </a>
    <a
      mat-button
      routerLink="editar"
      routerLinkActive="active"
      class="nav-link"
    >
      Editar
    </a>
    <a
      mat-button
      routerLink="eliminar"
      routerLinkActive="active"
      class="nav-link"
    >
      Eliminar
    </a>
    <a mat-button routerLink="ver" routerLinkActive="active" class="nav-link">
      Ver
    </a>
  </nav>
</mat-toolbar>
