/*[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf");
}

/* CSS RGB */

:root {
  --bg-color: rgba(0, 0, 0, 0.9);
  --swamp-green: rgba(73, 255, 24, 0.5);
  --purple-complementary: rgba(206, 24, 255, 0.7);
  --medium-slate-blue: rgba(139, 86, 254, 1);
  --hunyadi-yellow: rgba(246, 174, 45, 1);
  --russian-violet: rgba(55, 34, 100, 1);
  --red-violet: rgba(204, 29, 136, 1);
  --deep-sky-blue: rgba(0, 187, 249, 1);
}

/*[ RESTYLE TAG ]*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

/* [ GENERAL STYLES ] */
