<form
  class="login100-form"
  autocomplete="off"
  [formGroup]="myRegisterForm"
  (ngSubmit)="registro()"
>
  <span class="login100-form-title p-b-49"> Registro </span>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">DNI/NIE</span>
    <input
      class="input100"
      type="text"
      placeholder="DNI/NIE"
      formControlName="DNI"
    />
    <span *ngIf="isValidField('DNI')" class="form-text text-danger">
      El formato del DNI/NIE ha de ser válido
    </span>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Telefono</span>
    <input
      class="input100"
      type="text"
      placeholder="Teléfono"
      formControlName="telefono"
    />
    <span *ngIf="isValidField('telefono')" class="form-text text-danger">
      El formato del teléfono ha de ser válido
    </span>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Nombre</span>
    <input
      class="input100"
      type="text"
      placeholder="Nombre"
      formControlName="nombre"
    />
    <span *ngIf="isValidField('nombre')" class="form-text text-danger">
      El formato del nombre ha de ser válido
    </span>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Apellidos</span>
    <input
      class="input100"
      type="text"
      placeholder="Apellidos"
      formControlName="apellidos"
    />
    <span *ngIf="isValidField('apellidos')" class="form-text text-danger">
      El formato de los apellidos ha de ser válido
    </span>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Correo</span>
    <input
      class="input100"
      type="email"
      placeholder="Correo electrónico"
      formControlName="email"
    />
    <span *ngIf="isValidField('email')" class="form-text text-danger">
      El formato del correo electrónico ha de ser válido
    </span>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Contraseña</span>
    <input
      class="input100"
      type="password"
      placeholder="Ingrese su contraseña"
      formControlName="password"
    />
    <span *ngIf="isValidField('password')" class="form-text text-danger">
      El formato de la contraseña ha de ser válido
    </span>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100">
    <span class="label-input100">Repite la contraseña</span>
    <input
      class="input100"
      type="password"
      placeholder="Repite la contraseña"
      formControlName="password2"
    />
    <span *ngIf="isValidField('password2')" class="form-text text-danger">
      Las contraseñas han de coincidir
    </span>
    <span class="focus-input100"></span>
  </div>

  <div class="text-right p-t-8 p-b-31"></div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button
        class="login100-form-btn"
        type="submit"
        [disabled]="myRegisterForm.invalid"
      >
        Registro
      </button>
    </div>
  </div>

  <div class="flex-col-c p-t-60">
    <span class="txt1 p-b-17"> ¿Ya tienes cuenta? </span>

    <a routerLink="/auth/login" class="txt2"> Inicia sesión aquí </a>
  </div>
</form>
