<!-- <footer class="footer">
  <div class="col-12 g-5">
    <div class="container-fluid gy-5">
      <div class="row p-4">
        <div class="col-lg-6 col-md-12 col-sm-12 py-3">
          <p>
            Copyright © 2024 - 2025 AngularComponents.org - Todos los derechos
            reservados.
          </p>
          <a href="#" class="link-secondary me-1">Política de Privacidad</a>
          <a href="#" class="link-secondary me-1">Aviso Legal</a>
          <a href="#" class="link-secondary">Inicio</a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 py-3 icons">
          <button class="btn btn-dark">
            <a
              target="_blank"
              class="nav-link icons"
              href="https://github.com/beastraiser"
              ><i class="bi bi-github"></i
            ></a>
          </button>
          <button class="btn btn-dark">
            <a
              target="_blank"
              class="nav-link icons"
              href="https://www.instagram.com/alexbulc/"
              ><i class="bi bi-instagram"></i
            ></a>
          </button>
          <button class="btn btn-dark">
            <a
              target="_blank"
              class="nav-link icons"
              href="https://www.linkedin.com/in/alexandru-bulc-b3376316b/"
              ><i class="bi bi-linkedin"></i
            ></a>
          </button>
          <button class="btn btn-dark">
            <a
              target="_blank"
              class="nav-link icons"
              href="https://www.youtube.com/@midulive"
              ><i class="bi bi-youtube"></i
            ></a>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<footer
  class="text-center text-white container-fluid px-0 pt-4"
  style="background-color: #0a4275"
>
  <p class="d-flex justify-content-center align-items-center gap-2">
    <ng-container *ngIf="!isAuthenticated(); else loggedIn">
      <button mat-fab extended aria-label="Key icon" routerLink="/auth">
        <mat-icon>login</mat-icon><span class="button-text">Login</span>
      </button>

      <button
        mat-fab
        extended
        aria-label="Key icon"
        routerLink="/auth/register"
        color="basic"
      >
        <mat-icon>person</mat-icon><span class="button-text">Registro</span>
      </button>
    </ng-container>

    <ng-template #loggedIn>
      <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
        <li class="nav-item">
          <button mat-fab extended aria-label="Key icon" (click)="logout()">
            <mat-icon>logout</mat-icon><span class="button-text">Logout</span>
          </button>
        </li>
      </ul>
    </ng-template>
  </p>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © {{ year }} Copyright:
    <a class="text-white" href="">Hotel.com</a>
  </div>
  <!-- Copyright -->
</footer>
