<nav class="navbar navbar-expand-md p-4">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center nav-text"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/usuarios"
          routerLinkActive="active"
          >Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/perfiles"
          routerLinkActive="active"
          >Perfiles</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/categorias"
          routerLinkActive="active"
          >Categorias</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/habitaciones"
          routerLinkActive="active"
          >Habitaciones</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/servicios"
          routerLinkActive="active"
          >Servicios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/admin/clientes"
          routerLinkActive="active"
          >Clientes</a
        >
      </li>
    </ul>
  </div>
</nav>
